@import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
span {
  color: #181818;
  font-family: 'Open Sans', sans-serif;
}

label,
button,
p,
a,
select,
li,
textarea,
td,
tr,
th {
  font-family: 'Roboto', sans-serif;
  color: #181818;
}

span{
  color: #4eb1f2;
}

i {
  font-size: 16px;
  color: #4eb1f2;
}

.btn {
  font-size: 16px;
  background: #F4A024;
  border-radius: 8px;
  padding: 8px 28px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border: 2px solid transparent;
  transition: 0.5s;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-secondary {
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 28px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border: 2px solid transparent;
  background-color: #ffffff;
  border: 2px solid #F4A024;
  transition: 0.5s;
}

.btn-secondary:hover {
  transform: scale(1.1);
}

.title {
  margin-top: 24px;
  font-size: 26px;
  position: relative;
  text-align: center;
}

.title::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -9px;
  width: 120px;
  height: 2px;
  background: #4eb1f2;
  transform: translateX(-65px)
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

/*nav*/
nav .nav-menu , .secondary-menu{
  padding: 0px 148px;
  display: flex;
  flex-wrap: wrap;
  /*position: fixed;*/
  top: 0;
  z-index: 9;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 0px #dddddd;
}

nav .nav-menu li , .secondary-menu li{
  list-style: none;
  font-weight: bold;
  margin: 12px;
}

nav .nav-menu li ul , .secondary-menu li ul{
  visibility: hidden;
  position: absolute;
  display: none;
  background: white;
  z-index: 9;
}

.nav-menu li:hover>ul , .secondary-menu li:hover>ul {
  visibility: visible;
  display: block;
  min-width: 140px;
  padding-top: 12px 0px;
  box-shadow: 0px 0px 6px 0px #dddddd;
}

nav .nav-menu li a {
  text-decoration: none;
}

nav .nav-menu li a:hover , .secondary-menu li a:hover {
  color: #4eb1f2;
}
.secondary-menu{
  justify-content: center;
  background-color: #F8F8F8;
  box-shadow: 0px 4px 6px 0px #dddddd8c;
}

nav .nav-logo {
  flex: 1;
  cursor: pointer;
  user-select: none;
}

nav .nav-logo img {
  width: 132px;
}

nav .nav-icon {
  font-size: 22px;
  display: none;
  color: #181818;
}

/*hero section*/
header {
  background-color: #F6F9FF;
}

.hero-section {
  margin: 64px 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-section-content h1 {
  font-size: 40px;
  font-weight: 500;
}

.hero-section-content-paragraph {
  margin: 22px 0px;
}

.hero-section-content span {
  font-weight: bold;
}

.hero-section-content .btn {
  margin-right: 14px;
}

.hero-section-image img {
  margin-bottom: 34px;
  width: 436px;
}


/*benefits section*/
.benefits-section {
  margin: 44px 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.benefits .benefits-box {
  width: 300px;
  padding: 14px;
  margin: 16px;
  text-align: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  transition: 0.5s;
}

.benefits .benefits-box:hover {
  transform: scale(1.1);
}

.benefits-box img {
  width: 64px;
}

.benefits-box-title {
  padding-top: 6px;
  padding-bottom: 10px;
}

.benefits-box-content {
  font-size: 14px;
}

/*count students section*/
.count-students-section {
  background-color: #F6F9FF;
  padding: 44px 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.count-students-section-content-count {
  font-size: 46px;
}

.count-students-section-content-paragraph {
  font-size: 20px;
}

.count-students-section-img img {
  border: 2px solid #61B3F4;
  border-radius: 8px;
}

/*faculties section*/
.faculties-section {
  padding: 44px 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.faculties-section .card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 268px;
  background-color: rgb(255, 255, 255);
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  /* transition: 0.5s;*/
}

.img-wapper img {
  width: 100%;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card .content {
  padding: 14px;
  text-align: center;
}

.card .card-content-title {
  padding-bottom: 10px;
}

.card-content-title-description {
  font-size: 14px;
  padding-bottom: 8px;
}

.card .content .btn {
  width: 100%;
}

/*.faculties-section .card:hover {
  transform: scale(1.1);
}*/
/*Faculty*/
.faculties {
  padding: 22px 0px 0px 0px;
}


/*bacelor's faculty*/
.bacelor-faculty {
  padding: 22px 0px 0px 0px;
}

.bacelor-faculty-section,
.bacelor-faculty-programs {
  padding: 44px 148px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bacelor-faculty-content {
  width: 49%;
}

.bacelor-faculty-content-paragraph {
  padding-right: 32px;
  text-align: justify;
}

.bacelor-faculty-img img {
  border: 2px solid #61B3F4;
  border-radius: 8px;
}

.bacelor-faculty-programs-content {
  margin: 16px;
  text-align: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);

}

.bacelor-faculty-programs-content img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}

.bacelor-faculty-title {
  padding-top: 6px;
  padding-bottom: 12px;
}

.bacelor-faculty-title:hover {
  color: #61B3F4;
  cursor: pointer;
}

/*
.bacelor-faculty-program h2{
margin-bottom: 14px;
}
.bacelor-faculty-program li{
  list-style-type: circle;
  font-size: 16px;
}

.bacelor-faculty-program li :hover{
color: #61B3F4;
}*/


/*faculty*/



/*departments*/
.departments {
  padding: 22px 0px 0px 0px;
}

.departments-section {
  padding: 44px 148px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.departments-content {
  margin: 16px;

  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);

}

.departments-content img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}

.departments-title {
  text-align: center;
  padding-top: 6px;
}

.programs {
  padding: 14px 0px 14px 28px;
}

.programs li :hover {
  color: #61B3F4;
  text-decoration: underline;
}

/*specialty*/
.specialty-section {
  padding: 44px 148px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.specialty-content-title {
  margin-bottom: 12px;
}

.specialty-content {
  width: 49%;
}

.specialty-content-paragraph:last-child {
  margin-top: 12px;
}

.specialty-content-paragraph span {
  font-weight: bold;
}

.specialty-section-image img {
  border: 2px solid #61B3F4;
  border-radius: 8px;
  width: 422px;
}

.specialty-curriculum-title {
  margin-bottom: 12px;
}

.specialty-curriculum {
  text-align: center;
  width: 100%;
}

/*course*/
.course-section {
  padding: 44px 148px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.course-content-title {
  margin-bottom: 12px;
}
.course-description-paragraph {
  margin-top: 8px;
}

.course-description-paragraph span {
  font-weight: bold;
}
.course-evaluation-list{
  margin-left: 18px;
}
.course-description-paragraph .edit{
  color: #181818;
  margin-left: 16px;
}
.course-content .btn{
  margin: 22px auto;
  display: flex;
}


/*about*/
.about-section{
  padding: 22px 0px 0px 0px;
}

.about-section-content {
  margin: 44px 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-section-content .about-section-content-paragraph{
  padding-right: 18px;
}
.about-education-section-content{
  padding: 44px 148px;
  background-color: #F6F9FF;
}
.about-section-content-paragraph{
  width: 50%;
}
.about-section-content img{
  border: 2px solid #61B3F4;
  border-radius: 8px;
}
.about-section-content-img{
  margin: 44px 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-section-content-img img {
  border: 2px solid #61B3F4;
  border-radius: 8px;
  margin: 12px;
}

/*contact*/
.contact .title {
  padding-top: 32px;
}

.contacts {
  padding: 44px 148px 22px 148px;
}

.contact-section-content {
  padding: 44px 148px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts-card {
  width: 220px;
  margin: 14px;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 0px #dddddd;
  transition: 0.5s;
}

.contacts-card .icon i {
  font-size: 24px;
  color: #61B3F4;
}

.contacts-card .text-title {
  margin: 12px;
  font-weight: bold;

}

.contact-form-contect-title {
  margin-bottom: 4px;
}

.contacts-card:hover {
  transform: scale(1.1);
}

.contact-form-contect {
  width: 49%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.input-firse-name,
.input-last-name {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form-contect label {
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 4px;
}


.contact-form-contect input,
textarea {
  height: 36px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 12px;
}

input:placeholder-shown,
textarea:placeholder-shown {
  padding: 12px;
}

input:focus,
textarea:focus {
  background-color: #61b2f44a;
  border: 1px solid #61B3F4;
}

.contact-button {
  margin-top: 18px;
  text-align: end;
}

.contact-section-image {
  width: 49%;
  display: flex;
  justify-content: flex-end;
}

.contact-section-image img {
  width: 94%;
}

/*sign in*/
.signin {
  margin: 84px auto;
  width: 400px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.signin h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}

.signin form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt-field {
  position: relative;
  border-bottom: 2px solid #6f6f6f;
  margin: 30px 0;
}

.txt-field input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #595959;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt-field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #4eb1f2;
  transition: .5s;
}

.txt-field input:focus~label,
.txt-field input:valid~label {
  top: -5px;
  color: #4eb1f2;
}

.txt-field input:focus~span::before,
.txt-field input:valid~span::before {
  width: 100%;
}

select {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #595959;
  border-bottom: 2px solid #6f6f6f;
}

.forgot-password {
  margin: 16px 0 16px 0px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #6f6f6f;
  cursor: pointer;
}

input[type="checkbox"] {
  height: 18px;
  width: 18px;
  margin: 0px 8px 0px 0px;
}

.checkbox {
  display: flex;
  margin: 16px 0 16px 0px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #6f6f6f;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: none;
  background: #F4A024;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #181818;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

input[type="submit"]:hover {
  transform: scale(1.1);

}

.signup-link {
  padding: 16px 0px;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #595959;
}

.signup-link a {
  color: #4eb1f2;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/*login students*/

.login-students {
  padding: 44px 148px;
}

.login-students-title {
  margin-bottom: 12px;
  
}
.secondary-title{
  margin-bottom: 28px;
}
.semester-enrollment{
  margin-top: 16px;
}
.semesters{
    border: 1px solid black;
    background-color: #B3D8F5;
    padding: 8px;
    cursor: default;
}
.semesters a:hover{
  color: #004a86;
}
 .enrollment-semestar .btn , .recorded-courses .btn{
  margin: 22px auto;
  display: flex;
 }
.recorded-courses{
  margin-top: 16px;
}
.tertiary-title{
  margin-bottom: 8px;
}

.semestar h4 , .list h4 {
padding-right: 12px;
}

.semestar h4:nth-child(3){
  margin-left: 36px;
}
.semestar , .list{
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.evaluations-select select,
.specialties-select select,
.semestar-select select{
 padding: 6px;
font-size: 14px; 
border: none;
color: black;
background-color: #61b2f427;
box-shadow: 0px 0px 6px 0px #dddddd;
}

/*tables*/
.table-informations  {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.table-informations th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #61B3F4;
  color: rgb(0, 0, 0);
}
.table-informations .years {
  background-color: #61b2f44d;
}
.table-informations tr th {
  text-align: center;
}

.table-informations td,
.table-informations th
{
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
}

tr:hover {  
  background-color: #61b2f427;
  cursor: default;
}

.add .table-informations  tr input[type=text],
.add .table-informations tr input[type=email],
.add .table-informationstr input[type=text],
.add .table-informations tr input[type=email],
.add .table-informations tr input[type=number]
{
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

.table-informations .edit{
  color: #181818;
}

/*login teacher*/

.login-teacher {
  padding: 44px 148px;
}

.list-students{
  margin-top: 16px;
}

.table-curriculum-for-teacher i{
  padding-left: 12px;
  }

.table-informations .btn{
margin-top: 12px;
}

.pagination{
  display: flex;
  justify-content: center;
  padding-top: 22px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #B3D8F5;
  color: white;
  border-radius: 4px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
/*login director*/
.login-director {
  padding: 44px 148px;
}

.teacher-list .btn , .add .btn,
.student-list .btn{
  margin: 22px auto;
  display: flex;
}
.login-director .pagination{
padding-bottom: 22px;
} 
/*login rector*/
.login-rector  {
  padding: 44px 148px 22px 148px;
}

.teacher-list .btn , .add .btn,
.student-list .btn{
  margin: 22px auto;
  display: flex;
}
.login-director .pagination{
padding-bottom: 22px;
} 

.login-rector .departments-section{
  padding: 0px;
}
.rector-departments{
  padding: 0px 148px 44px 148px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*footer*/
.footer {
  padding: 36px 148px 0px 148px;
  background-color: #001c34;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  color: #EBEBEB;
  font-size: 18px;
}


.footer-list-item {
  list-style: none;
  margin: 8px 0;
}

.footer-list-item-link {
  text-decoration: none;
  color: #dddddd;
  font-size: 14px;
}

.footer-list-item-link:hover {
  color: #4eb1f2;
}

.social-media-icon {
  padding: 10px 0px;
}

.social-media i {
  color: #4eb1f2;
  font-size: 26px;
  margin: 0 8px;
}


.copyright {
  padding: 15px 0px 0px 0px;
}

.copyright p {
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #ddddddb0;
  color: #EBEBEB;
  font-size: 12px;
}

button[type="button"] {
  width: 100%;
  height: 50px;
  border: none;
  background: #F4A024;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #181818;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  margin-bottom: 20px;
}

button[type="button"]:hover {
  transform: scale(1.1);
}
